.red {
  background-color: red;
}
.green {
  background-color: green;
}
.question__Container {
  position: relative;
  width: 80%;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 0%;
  background-color: black;
  padding: 30px;
  height: 620px;
}
.button__div {
  width: 60%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}
::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.board__container {
  margin: 20px;
}
.fade-in {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  opacity: 0;
  animation: loading 5s linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;

  padding: 1px 7px;
}
@keyframes loading {
  0% {
    transform: rotateX(60deg) translateZ(-2rem);
    opacity: 0;
  }
  50% {
    transform: rotateX(-5deg);
    opacity: 0.6;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fade-in.three {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.fade-in.four {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.question__Container > h3,
.board__container__answers {
  width: 40%;
  margin: 0 auto;
}
h3 {
  color: white;
  background-color: transparent;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 25px;
}

.question__footer {
  width: 80%;
  margin: 0 auto;
  background-color: var(--light);
  display: grid;
  grid-template-columns: repeat(5, auto);
  text-align: center;
  margin-bottom: 40px;
  max-width: 80%;
}
.question__footer__sub {
  border: 1px solid gray;
}

.question__footer__sub > h2 {
  font-weight: 800;
  font-family: "Paytone One", sans-serif;
}
.separate__footer__block > p {
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
}
.select {
  background-color: rgb(7, 207, 0);
  color: white;
}

.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
}
.singleOption {
  width: 40%;
  height: 50px;
  padding: 5px auto;
  margin: 2px;
  border: none;
}
.bounce-in {
  animation: bounce-in 3s ease infinite;
}

.bounce-in-text {
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  font-weight: 800;
  font-family: "Paytone One", sans-serif;
  color: var(--light);
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
