.gamess__cards {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-top: 4rem;
}
@media screen and (max-width: 992px) {
  .gamess__cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
