@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Paytone One", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.App {
  margin: 0 auto;
}

.mainPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
